force-app/main/default/flows/CreateInitiative.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Start_automated_process</name>
        <label>Start automated process</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <actionName>TL_BC_ScheduledProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inits</name>
            <value>
                <elementReference>init</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>return_Set</name>
        <label>return Set</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CampaignstoReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitiativetoReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitiativeGet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>init</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCampaignIds</name>
        <label>Set Campaign Ids</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>campaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateActivecampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateInactivecampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateToScreencampaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignsGet</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Initiative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Initiative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateActivecampaign</name>
        <label>Create Active campaign</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>CreateInactivecampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Active - {!Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInactivecampaign</name>
        <label>Create Inactive campaign</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>CreateToScreencampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Inactive - {!Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInitiative</name>
        <label>Create Initiative</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>AddInitiativeToActivecampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActiveParticipants__c</field>
            <value>
                <elementReference>CreateActivecampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InactiveParticipants__c</field>
            <value>
                <elementReference>CreateInactivecampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToScreenParticipants__c</field>
            <value>
                <elementReference>CreateToScreencampaign</elementReference>
            </value>
        </inputAssignments>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateToScreencampaign</name>
        <label>Create To Screen campaign</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CreateInitiative</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>To Screen - {!Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CampaignsGet</name>
        <label>CampaignsGet</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InitiativeGet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>campaignIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>init</name>
        <label>init</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_automated_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInitiative</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InitiativeGet</name>
        <label>InitiativeGet</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>return_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInitiative</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AddInitiativeToActivecampaign</name>
        <label>AddInitiativeToActivecampaign</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>AddInitiativeToToScreencampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateActivecampaign</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiative__c</field>
            <value>
                <elementReference>CreateInitiative</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>AddInitiativeToInactivecampaign</name>
        <label>AddInitiativeToInactivecampaign</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>SetCampaignIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInactivecampaign</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiative__c</field>
            <value>
                <elementReference>CreateInitiative</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>AddInitiativeToToScreencampaign</name>
        <label>AddInitiativeToToScree ncampaign</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>AddInitiativeToInactivecampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateToScreencampaign</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiative__c</field>
            <value>
                <elementReference>CreateInitiative</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SyncCalendars</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SyncCalendars</name>
        <label>Sync Calendars</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>CreateActivecampaign</targetReference>
        </connector>
        <flowName>SyncCalendars</flowName>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignstoReturn</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitiativetoReturn</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Initiative__c</objectType>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
